<div class="container-fluid vh-100 p-3">
  <div class="d-flex h-100 flex-column gap-3">
    <div class="containers p-3">
      <h5><b>Settings</b></h5>
      <ul class="nav nav-tabs" id="settingsTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="target-sales-tab"
            data-bs-toggle="tab"
            data-bs-target="#target-sales-pane"
            type="button"
            role="tab"
            aria-controls="target-sales-pane"
            aria-selected="true"
          >
            Target Sales
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="payments-tab"
            data-bs-toggle="tab"
            data-bs-target="#payments-pane"
            type="button"
            role="tab"
            aria-controls="payments-pane"
            aria-selected="false"
          >
            Payments
          </button>
        </li>

        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="newsletter-tab"
            data-bs-toggle="tab"
            data-bs-target="#newsletter-pane"
            type="button"
            role="tab"
            aria-controls="newsletter-pane"
            aria-selected="false"
          >
            Newsletter
          </button>
        </li>
      </ul>
      <div class="tab-content" id="settingsTabsContent">
        <div
          class="tab-pane fade show active"
          id="target-sales-pane"
          role="tabpanel"
          aria-labelledby="target-sales-tab"
        >
          <!-- Target Sales -->
          <div class="target-sales w-100">
            <div class="d-flex align-items-center justify-content-between">
              <h5></h5>
              <div class="top-buttons d-flex gap-1">
                <div class="dropdown">
                  <button
                    class="btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      class="bi bi-filter"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"
                      />
                    </svg>
                    Filter By Year
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="getTargetSalesByYear('2024')"
                        >2024</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="getTargetSalesByYear('2025')"
                        >2025</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="getTargetSalesByYear('2026')"
                        >2026</a
                      >
                    </li>
                  </ul>
                </div>
                <app-add-target-sales></app-add-target-sales>
              </div>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col">#</th>
                  <th class="col">Target</th>
                  <th class="col">Month</th>
                  <th class="col">Year</th>
                  <th class="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let target of targetSales; index as index">
                  <td class="col">{{ index + 1 }}</td>
                  <td class="col">
                    {{
                      target.sale.toLocaleString("en-US", {
                        style: "currency",
                        currency: "PHP"
                      })
                    }}
                  </td>
                  <td class="col">{{ target.month }}</td>
                  <td class="col">{{ target.year }}</td>
                  <td class="col">
                    <button
                      class="btn btn-danger"
                      (click)="deleteTargetSales(target.id)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-calendar-x"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708"
                        />
                        <path
                          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
                        />
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="payments-pane"
          role="tabpanel"
          aria-labelledby="payments-tab"
        >
          <!-- Payments -->
          <div class="payments-qr">
            <div class="row bottom-box">
              <div class="col title-text">
                <img
                  [src]="paymentQrs.length > 0 ? paymentQrs[0].qr : null"
                  width="250px"
                  height="370px"
                  *ngIf="paymentQrs.length > 0"
                  id="current-qr"
                  alt="current-qr"
                />
                <h6>Current Qr Code</h6>
                <p>
                  This quick response (QR) image serves as the code used for
                  GCash payments.
                </p>
              </div>
              <div class="col btn-updateQr">
                <label class="btn btn-primary btn-file" for="qrFileInput">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-plus"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
                    />
                  </svg>
                  <input
                    type="file"
                    style="display: none"
                    id="qrFileInput"
                    accept="image/*"
                    (change)="onFileSelected($event)"
                  />
                  Update QR
                </label>
              </div>
            </div>
            <div class="row">
              <h6>Recent QR Codes</h6>
              <div
                class="col image-wrapper"
                *ngFor="let payment of paymentQrs; let i = index"
                [ngStyle]="{ 'max-width.px': '210' }"
              >
                <div class="image-area">
                  <img
                    [src]="payment.qr"
                    (click)="navigateToPaymentQR(payment.qr)"
                    width="200px"
                    height="300px"
                  />
                  <a
                    class="remove-image"
                    (click)="deletePaymentQr(payment.id, payment.qr, i)"
                    >&#215;</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="newsletter-pane"
          role="tabpanel"
          aria-labelledby="newsletter-tab"
        >
          <div class="d-flex align-items-center justify-content-between p-3">
            <h5>Newsletter</h5>
            <div class="d-flex align-items-center gap-3">
              <button
                class="btn btn-outline-secondary"
                (click)="createNewsletterModal()"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-newspaper me-3"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"
                  />
                  <path
                    d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"
                  />
                </svg>
                Create Newsletter
              </button>
            </div>
          </div>
          <div class="flex-grow-1 overflow-y-scroll">
            <table class="table table-hover table-borderless">
              <thead>
                <tr>
                  <th scope="col">Attachment</th>
                  <th scope="col" class="align-left">Content</th>
                  <th scope="col">Date Created</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let newsletter of newsletters$">
                  <td>
                    <img
                      *ngIf="newsletter.image !== ''"
                      [src]="
                        newsletter.image !== ''
                          ? newsletter.image
                          : '../../../../assets/images/logo.png'
                      "
                      width="40px"
                      height="40px"
                    />
                  </td>
                  <td class="align-left">{{ newsletter.description }}</td>
                  <td>{{ newsletter.createdAt.toLocaleDateString() }}</td>
                  <td>
                    <button
                      class="btn btn-danger"
                      (click)="deleteNewsLetter(newsletter.id)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                        />
                        <path
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                        />
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="newsLetterSize"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="refreshNewsletters()"
            >
            </ngb-pagination>

            <select
              class="form-select"
              style="width: auto"
              [(ngModel)]="pageSize"
              (ngModelChange)="refreshNewsletters()"
            >
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="20">20 items per page</option>
              <option [ngValue]="30">30 items per page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
