<div
  class="modal fade"
  id="driver"
  tabindex="-1"
  aria-labelledby="driverLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="driverLabel">Select Driver</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul
          class="list-group list-group-flush"
          *ngFor="let driver of _drivers | async"
        >
          <li class="list-group-item" (click)="selectDriver(driver)">
            <div class="d-flex gap-2">
              <img
                *ngIf="driver.profile; else placeholder"
                [src]="driver.profile"
                class="img-thumbnail"
                alt="Profile Image"
                width="60px"
                height="60px"
              />

              <ng-template #placeholder>
                <img
                  src="../../../assets/images/profile.jpg"
                  class="img-thumbnail"
                  alt="Placeholder"
                  width="60px"
                  height="60px"
                />
              </ng-template>
              <div class="">
                <h5>{{ driver.name }}</h5>
                <h5>+63 {{ driver.phone }}</h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
