<div
  class="container-fluid h-100 d-flex align-items-center justify-content-center"
>
  <div class="w-75 h-75 bg-white">
    <div class="p-3 bg-white d-flex">
      <img src="../../../../assets/images/S&P.png" />
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Fullbame</th>
          <th scope="col">Mobile</th>
          <th scope="col">Address</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let customer of $customers">
        <tr>
          <th scope="row">{{ customer.name }}</th>
          <td>{{ customer.phone }}</td>
          <td>{{ getDefaultAddressFormattedLocation(customer.addresses) }}</td>
          <td>
            <button
              class="btn btn-outline-secondary"
              (click)="viewProfile(customer)"
            >
              View Profile
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
