<!-- Modal -->
<div
  class="modal fade"
  id="addvariation"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">ADD VARIATION</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3"
          [formGroup]="variationForm"
          (submit)="submitForm()"
        >
          <div class="col-md-12">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>
          <div class="col-md-6">
            <label for="cost" class="form-label"> Cost</label>
            <input
              type="number"
              class="form-control"
              id="cost"
              formControlName="cost"
            />
          </div>
          <div class="col-md-6">
            <label for="price" class="form-label"> Price</label>
            <input
              type="number"
              class="form-control"
              id="price"
              formControlName="price"
            />
          </div>
          <div class="col-md-12">
            <label for="stocks" class="form-label"> Stocks</label>
            <input
              type="number"
              class="form-control"
              id="stocks"
              formControlName="stocks"
            />
          </div>
          <div class="col-md-12">
            <label for="stocks" class="form-label"> Image</label>
            <input
              type="file"
              accept="image/*"
              class="form-control"
              id="image"
              (change)="onImagePicked($event)"
            />
          </div>
          <div
            class="mt-auto d-flex gap-2 p-3 align-items-end justify-content-end"
          >
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="
                (loadingService.isLoading('add-variation') | async) === true ||
                variationForm.invalid
              "
            >
              <span
                *ngIf="
                  (loadingService.isLoading('add-variation') | async) === true
                "
                class="spinner-border spinner-border-sm me-2"
                role="status"
                aria-hidden="true"
              ></span>
              {{
                (loadingService.isLoading("add-variation") | async) === true
                  ? "Saving Variation..."
                  : "  Save Variation"
              }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
