<div class="container-fluid">
  <div class="row w-100">
    <div class="col-8">
      <div class="box">
        <h5 class="mb-3">Sales Overview</h5>
        <div class="d-flex">
          <div class="container">
            <img src="../../../../assets/images/Sales.png" />
            <span class="fw-bold text-secondary">P 30,000</span>
            <p class="text-secondary">Sales</p>
          </div>
          <div class="container">
            <img src="../../../../assets/images/Revenue.png" />
            <span class="fw-bold text-secondary">P 30,000</span>
            <p class="text-secondary">Revenue</p>
          </div>

          <div class="container">
            <img src="../../../../assets/images/Profit.png" />
            <span class="fw-bold text-secondary">P 30,000</span>
            <p class="text-secondary">Profit</p>
          </div>

          <div class="container">
            <img src="../../../../assets/images/Cost.png" />
            <span class="fw-bold text-secondary">P 30,000</span>
            <p class="text-secondary">Cost</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="box">
        <h5 class="mb-3">Inventory Summary</h5>
        <div class="d-flex">
          <div class="container">
            <img src="../../../../assets/images/Quantity.png" />
            <span class="fw-bold text-secondary">800</span>
            <p class="text-secondary">Quantity on Hand</p>
          </div>
          <div class="container">
            <img src="../../../../assets/images/way.png" />
            <span class="fw-bold text-secondary">800</span>
            <p class="text-secondary">On the way</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="box">
        <h5 class="mb-3">Purchases Overview</h5>
        <div class="d-flex">
          <div class="container">
            <img src="../../../../assets/images/purchase.png" />
            <span class="fw-bold text-secondary">P 30,000</span>
            <p class="text-secondary">Purchases</p>
          </div>
          <div class="container">
            <img src="../../../../assets/images/sales2.png" />
            <span class="fw-bold text-secondary">P 30,000</span>
            <p class="text-secondary">Sales</p>
          </div>

          <div class="container">
            <img src="../../../../assets/images/Cancel.png" />
            <span class="fw-bold text-secondary">P 30,000</span>
            <p class="text-secondary">Cancelled</p>
          </div>

          <div class="container">
            <img src="../../../../assets/images/Cost.png" />
            <span class="fw-bold text-secondary">P 30,000</span>
            <p class="text-secondary">Cost</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="box">
        <h5 class="mb-3">Customer Summary</h5>
        <div class="d-flex">
          <div class="container">
            <img src="../../../../assets/images/Quantity.png" />
            <span class="fw-bold text-secondary">800</span>
            <p class="text-secondary">Quantity on Hand</p>
          </div>
          <div class="container">
            <img src="../../../../assets/images/way.png" />
            <span class="fw-bold text-secondary">800</span>
            <p class="text-secondary">On the way</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
