.box {
  background-color: white;
  border-radius: 10px;
  position: relative;
  width: 100%;
  padding: 1rem;
  margin: 10px;
  height: 100%;
}
.col-8 {
  padding: 1rem;
}
.col-4 {
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container img {
  margin: 10px;
}

canvas {
  height: 400px;
}

.critical-stocks {
  background-color: red;
}

.low-stocks {
  background-color: yellow;
}
