<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="box">
        <h5 class="mb-3">Sales Overview</h5>
        <div
          class="d-flex gap-2 p-1 h-100 align-items-center justify-content-center"
        >
          <div class="container">
            <img src="../../../../assets/images/Sales.png" />
            <div class="sales">
              <p class="fw-bold text-secondary">P 30,000</p>
              <p class="text-secondary">Sales</p>
            </div>
          </div>
          <div class="container">
            <img src="../../../../assets/images/Revenue.png" />
            <div class="sales">
              <p class="fw-bold text-secondary">P 30,000</p>
              <p class="text-secondary">Revenue</p>
            </div>
          </div>

          <div class="container">
            <img src="../../../../assets/images/Profit.png" />
            <div class="sales">
              <p class="fw-bold text-secondary">P 30,000</p>
              <p class="text-secondary">Profit</p>
            </div>
          </div>

          <div class="container">
            <img src="../../../../assets/images/Cost.png" />
            <div class="sales">
              <p class="fw-bold text-secondary">P 30,000</p>
              <p class="text-secondary">Cost</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="box">
        <h5 class="mb-3">Inventory Summary</h5>
        <div
          class="d-flex gap-2 h-100 align-items-center justify-content-center"
        >
          <div class="container">
            <img src="../../../../assets/images/Quantity.png" />
            <div class="d-flex flex-column">
              <span class="fw-bold">800</span>
              <p class="text-secondary">Quantity on Hand</p>
            </div>
          </div>
          <div class="container">
            <img src="../../../../assets/images/way.png" />
            <div class="d-flex flex-column">
              <span class="fw-bold">800</span>
              <p class="text-secondary">On the way</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="box"></div>
    </div>
    <div class="col-4">
      <div class="box"></div>
    </div>
  </div>
</div>
